
<!DOCTYPE html>
<html lang="en">
 <head>
   	<meta charset="utf-8">
   	<title>Bio Society</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">Bio Society</a>
      </div>
      <!-- <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" href="/products">Products</a></li>
          <% if (userLogged) { %>
			  <li><a class="navbar-brand" href="/orders">Orders</a></li>
              <li><a class="navbar-brand" href="/logout"><span class="mRight10 glyphicon glyphicon-log-in"></span>Se déconnecter</a></li>
          <% } else { %>
              <li><a class="navbar-brand" href="/signup"><span class="mRight10 glyphicon glyphicon-user"></span>S'enregistrer</a></li>
              <li><a class="navbar-brand" href="/login"><span class="mRight10 glyphicon glyphicon-log-in"></span>Connexion</a></li>
          <% } %>
      </ul>
  </div>
</nav>
