<% include partials/header %>





<div class="bgBody">
    <form class="form form-horizontal" action="/login" method="post">

        <div class="text-center" style="">
            <h1>Connexion</h1>
            <input class="w500 displayBlock" placeholder="Identifiant" type="text" name="username"/>
            <input class="w500 displayBlock" placeholder="Mot de passe" type="password" name="password"/>
            <button type="submit" class="btn_send">Se connecter</button>
        </div>

    </form>
</div>
<% include partials/footer %>
