<% include partials/header %>

<h1>Mes commandes</h1>
<table class="table">
	    <tr>
	        <th>N° de commande</th>
	        <th>Date</th>
	        <th>Statut</th>
			<th>Total</th>
	        <th>Détails</th>
	    </tr>
		<% for(var i=0; i<orders.length; i++) { %>
	    <tr>
	        <td><%= orders[i].id %></td>
			<td><%= orders[i].createdAt %></td>
	        <td><%= orders[i].statut %></td>
	        <td><%= orders[i].total %></td>
	        <td></td>
	    </tr>
	    <% } %>

<% include partials/footer %>
