<% include partials/header %>


<div class="bgBody">
    <form class="form-horizontal" action="/signup" method="post">

        <div class="form text-center">
            <h1>Inscription</h1>
            <%if (err) {%>
                <div class="text-center" style="color:red"><%=err%></div>
            <%} %>
            <input class="w500 displayBlock" placeholder="Identifiant" type="text" name="username"/>

            <input class="w500 displayBlock" placeholder="Prénom" type="text" name="firstname"/>

            <input class="w500 displayBlock" placeholder="Nom" type="text" name="lastname"/>

            <input class="w500 displayBlock" placeholder="Adresse" type="text" name="address"/>

            <input class="w500 displayBlock" placeholder="Code postal" type="text" name="postcode"/>

            <input class="w500 displayBlock" placeholder="Téléphone" type="text" name="phone_number"/>

            <input class="w500 displayBlock" placeholder="Mot de passe" type="password" name="password"/>

            <button type="submit" class="btn_send">S’inscrire</button>
        </div>

    </form>
</div>

<% include partials/footer %>
