<% include partials/header %>
    <div class="bgBody">
        <div class="form form-horizontal">
            <div class="text-center">
                <h1><%= validate %></h1>
                <a style="display: inline-block; color: #EFEFEF; text-decoration: none; margin-top: 30px;" class="btn_send" href="/">Retour à l'acceuil</a>
            </div>
        </div>
    </div>
<% include partials/footer %>
